@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
}
nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 5%;
}

nav .logo {
  padding: 0px 50px 0px 0px;
}

nav .nav-items {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

nav .nav-items li {
  list-style: none;
  padding: 0 20px;
}

nav .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

nav .nav-items li a:hover {
  color: #ff3d00;
}

.btn {
  padding: 10px 10px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  background: #ff3d00;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #e63600;
}

nav .menu-icon,
nav .cancel-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .cancel-icon {
  display: none;
}

/* text size and colors {Desktop} */
.text-white {
  color: white;
}

.text-orange {
  color: #ff3d00;
}

.text-bg {
  font-size: 60px;
  font-weight: 700;
}

.text-pg {
  font-size: 24px;
  font-weight: 500;
}

.text-author {
  color: rgba(102, 100, 100, 0.7);
  font-size: 22px;
  font-weight: 700;
}

/* Container-Fluid {Desktop} */
.container-fluid {
  display: flex;
  width: 100%;
  height: 110vh;
  justify-content: space-evenly;
  overflow: hidden;
}

/* jumbotron all {Desktop} */
.jumbotron {
  background-image: url("../images/hero_man1.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65% 110%;
  width: 100%;
  height: 100%;
}

.jumboContent {
  margin: 15% 5%;
}

/* Container {Desktop} */
.container {
  width: 100%;
  height: 90vh;
  padding: 0px 2.5%;
  display: flex;
  justify-content: space-evenly;
}

.div {
  padding: 15% 2%;
  overflow: hidden;
}

.left-float {
  float: left;
}

.padding-rt {
  padding: 5px 17%;
}

.bg-dim {
  background-color: #242323e0;
}

.card {
  margin: 2% 2%;
}

.card img {
  height: 450px;
}

.card-text {
  margin: 5% 0%;
  text-align: justify;
}

.card h2 {
  font-size: 20px;
  font-weight: 700;
}
.card p {
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 800px) {
  nav {
    /* background-color: black; */
    padding: 0px;
  }
  nav .logo {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #000000;
    display: inline-block;
    transition: all 300ms ease-in-out;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav .btn {
    display: none;
  }
  nav .menu-icon {
    color: antiquewhite;
    display: block;
  }

  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }

  /* text color and size {Tablet} */

  .text-bg {
    font-size: 36px;
    font-weight: 700;
  }

  .text-pg {
    font-size: 18px;
    font-weight: 400;
  }

  .text-author {
    font-size: 16px;
    font-weight: 500;
  }

  /* Container-Fluid {Tablet} */
  .container-fluid {
    width: 100%;
    height: 60vh;
  }

  /* jumbotron Tablet */
  .jumbotron {
    background-size: 75% 100%;
    width: 100%;
  }

  .jumboContent {
    margin: 25% 5%;
  }

  /* Container {tablet} */
  .container {
    height: 50vh;
  }

  .div {
    padding: 17% 1%;
  }

  .padding-rt {
    padding: 5px 20%;
  }

  .card {
    margin: 5% 2%;
  }

  .card img {
    height: 400px;
  }

  .card-text {
    margin: 2% 0%;
    text-align: justify;
  }

  .card h2 {
    font-size: 17px;
    font-weight: 700;
  }
  .card p {
    font-size: 10px;
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  nav .menu-icon,
  nav .cancel-icon {
    margin: 0 10px;
    font-size: 16px;
  }
  .btn {
    font-size: 14px;
  }

  /* text color and size {phone} */

  .text-bg {
    font-size: 30px;
    font-weight: 500;
  }
  .text-pg {
    font-size: 18px;
    font-weight: 400;
  }

  .text-author {
    font-size: 14px;
    font-weight: 600;
  }
  .container-fluid {
    height: 100vh;
  }

  /* jumbotron phone */
  .jumbotron {
    background-image: none;
    width: 100%;
    height: 100%;
  }

  .jumboContent {
    padding: 35% 1%;
    justify-content: center;
  }

  /* Container {phone} */
  .container {
    height: 90vh;
    flex-direction: column;
    display: block;
    /* flex-wrap: wrap; */
  }
  .padding-rt {
    padding: 5px 20%;
  }

  .card {
    margin: 10% 2%;
  }

  .card img {
    height: 400px;
  }

  .card-text {
    margin: 2% 0%;
    text-align: justify;
  }

  .card h2 {
    font-size: 17px;
    font-weight: 700;
  }
  .card p {
    font-size: 12px;
    font-weight: 500;
  }
}
